<% if @requests.nil? %>
  <h1>There are currently no requests!</h1>
<% else %>
  <ul>
    <% @requests.each do |request| %>
      <li><%= request.title %></li>
    <% end %>
  </ul>
<% end %>

<% if @offers.nil? %>
  <h1>There are currently no offers!</h1>
<% else %>
  <ul>
    <% @offers.each do |offer| %>
      <li><%= offer.title %></li>
    <% end %>
  </ul>
<% end %>
