<h1>Welcome!</h1>
<h3>DEREK is a forum where students and coaches can sign up to recieve/give help respectfully. To elaborate, students can sign up to get help on whatever subject they are struggling with. DBC believes that the best way to learn is to teach others so DEREK allows coaches to sign up and teach those sessions!</h3>
