<div class="jumbotron">
  <h1>Welcome!</h1>
  <h3>DEREK is a forum where students can ask for and host breakout sessions.</h3>
  <p style="font-weight: bold;">Made By:</p>
  <ul>
    <li>Yen Tran</li>
    <li>Gunnari Auvinen</li>
    <li>Joe Sabato</li>
    <li>Heathe Berg</li>
    <li>Matthew Chan</li>
  </ul>
  <p>DEREK is based upon the DBC principle of students teaching students.</p>
</div>
